<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        header, footer {
            background-color: #f2f2f2;
            padding: 10px;
            text-align: center;
        }
        nav {
            margin: 20px 0;
            text-align: center;
        }
        nav a {
            margin: 0 15px;
            text-decoration: none;
            color: #333;
        }
        main {
            text-align: center;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to TicketOff</h1>
</header>
<nav>
    <a href='http://localhost:8080/login'>Login</a>
    <a href="http://localhost:8080">Films</a>
</nav>
<main>
    <h2>About Us</h2>
    <p>Welcome to TicketOff, your one-stop solution for watching films and user information. Explore our collection of films, manage your account, and more.</p>
</main>
<footer>
    <p>&copy; 2023 TicketOff. All rights reserved.</p>
</footer>
</body>
</html>